.background-img {
    background-image: url(star-wars-background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: inherit !important;
    border-width: 25px !important;
    color: white !important;
    border-radius: 3rem !important;
    border-color: rgba(41, 103, 151, 0.464) !important;
    
    

}

.card img{
    width: 100px;
    height: 250px;
    object-fit: contain;
    
}

.btn{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5rem !important;
    color: white !important;
    
    
}

.radioButtonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5%;
}